/**
O CSS utilizado para criar os loadings foram retirados do site https://loading.io/css/ sob licença CC0 License
*/

.ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// -------------------------------------------------------------------------------

.spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner div {
  transform-origin: 40px 40px;
  animation: spinner 1.2s linear infinite;
}
.spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
}
.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// -------------------------------------------------------------------------------

.roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.roller div {
  animation: roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// -------------------------------------------------------------------------------

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
